@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf");
}
:root {
  scroll-behavior: smooth;
}
::selection {
  background: var(--blue);
  color: var(--yellow);
}
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --blue: #597aff;
  --white: #fef9f3;
  --black: #0a0a0a;
  --gray: #363636;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: auto;
  scrollbar-color: var(--blue) var(--black);
}
::-webkit-scrollbar {
  width: 1.085vw;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue);
}
::-webkit-scrollbar-track {
  background-color: var(--black);
  margin-block: 0.5em;
}
body {
  animation: blur 0.75s ease-in-out;
  overflow-x: hidden;
  font-family: "Inter", "Satoshi", "Gotham Rounded", sans-serif, system-ui;
  background: var(--black) !important;
  color: var(--white) !important;
}
section {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: inherit;
  letter-spacing: -1px;
  color: var(--blue) !important;
}
a {
  color: var(--blue);
  transition: 0.5s;
  text-decoration: none !important;
}
.section-title h2,
h2.section-title {
  font-size: 32px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title h2:after,
h2.section-title:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  background: var(--yellow);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@keyframes blur {
  0% {
    filter: blur(18px);
  }
  100% {
  }
}
@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
@keyframes scale {
  from,
  to {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
section#hero {
  height: 100vh;
  display: grid;
  place-items: center;
  align-content: center;
}
section#hero h1 {
  color: var(--white) !important;
  font-size: clamp(2em, 2vw, 4em);
  padding: 20px;
  text-align: center;
  letter-spacing: 2px;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all var(--anim-mid);
  z-index: 997;
  background: var(--gray);
}
#header.header-transparent {background: transparent}
#header.header-transparent .navbar a.nav-link {color: var(--white)!important}
#header.header-transparent.header-scrolled .navbar a.nav-link {color: var(--white)!important}
#header.header-scrolled {background: var(--gray)!important}
#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}
#header .logo h1 a,
#header .logo h1 a:hover {
  color: var(--white);
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}
/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
  */
.navbar {padding: 0}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {position: relative}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 7px 15px;
  margin-left: 5px;
  font-size: 14px;
  color: var(--white);
  white-space: nowrap;
  transition: var(--anim-short);
  border-radius: .5rem;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {background: var(--blue)}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 5px;
  top: calc(100% + 30px);
  margin: 5px 0 0 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: var(--white);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: var(--anim-short);
  border-radius: 15px;
}
.navbar .dropdown ul li {min-width: 200px}
.navbar .dropdown ul a {
  padding: 10px 20px;
  color: #2a2c39;
  margin: 0 5px;
  font-size: 14px;
}
.navbar .dropdown ul a i {font-size: 12px}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {color: var(--white)}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {left: -90%}
  .navbar .dropdown .dropdown:hover > ul {left: -100%}
}
/* * Mobile Navigation */
.mobile-nav-toggle {
  color: var(--white);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: var(--anim-mid);
}
@media (max-width: 991px) {
  .mobile-nav-toggle {display: block}
  .navbar ul {display: none}
  #header.header-transparent.header-scrolled .navbar a.nav-link {color: var(--gray)!important}
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(20, 21, 28, 0.9);
  transition: var(--anim-short);
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: var(--gray);
  overflow-y: auto;
  transition: var(--anim-short);
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  margin: 5px;
  font-size: 15px;
  color: #2a2c39;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {color: var(--white)}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {margin: 15px}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: var(--white);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {min-width: 200px}
.navbar-mobile .dropdown ul a {padding: 10px 20px}
.navbar-mobile .dropdown ul a i {font-size: 12px}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {color: var(--white)}
.navbar-mobile .dropdown > .dropdown-active {display: block}
.navbar .cart-icon{
  font-size: large;
  margin-left: 0 !important;
}
.navbar .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
}





/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: var(--black2);
  border-radius: 50px;
  padding: 2px 15px;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 0;
  transition: all 0.3s ease-in-out;
}
.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: var(--blue);
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: .5rem;
}
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap img{
  border-radius: .5rem;
}
.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}
.portfolio .portfolio-wrap .portfolio-links a {
  border-radius: .5rem .5rem 0 0;
  color: var(--white);
  font-size: 28px;
  text-align: center;
  background: var(--blue);
  transition: 0.3s;
  width: 50%;
}
.portfolio .portfolio-wrap .portfolio-links a i{
  color: var(--black);
}
.portfolio .portfolio-wrap .portfolio-links a:hover {filter: brightness(1.2);}
.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
  color: var(--black);
}
.gslide-media img{
  border-radius: .5rem .5rem 0 0 !important;
}
.gdesc-inner{
  background: var(--black);
}
.gslide-title{
  color: var(--white) !important;
}
@media (min-width:769px) {
  .glightbox-clean .gdesc-inner{
    border-radius: 0 0 .5rem .5rem !important;
  }
}
.glightbox-clean .gslide-description{background: transparent}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--blue);
  width: 40px;
  height: 40px;
  border-radius: .5rem;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 18px;
  color: var(--black);
  line-height: 0;
}
.back-to-top:hover {
  background: var(--blue);
}
.back-to-top:hover i {
  color: var(--white);
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}